<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"               content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">

    <title>{% block title %}Annuaire PHP{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{ include('layout/navbar.twig') }}
    <section class="flash">
        {% if success is not empty %}
            <div class="row">
                <div class="col text-center bg-success">
                    <button class="btn btn-success">{{success}}</button> 
                </div>
            </div>
        {% endif %}
        {% if error is not empty %}
            <div class="row">
                <div class="col text-center bg-danger">
                    <button class="btn btn-danger">{{error}}</button>
                </div>
            </div>
        {% endif %}
    </section>
    <div class="jumbotron">
        {% block main %}{% endblock %}
    </div>
    {{ include('layout/footer.twig') }}

</body>
</html>
